body {
    font-family: Arial, verdana;
    line-height: 1;
    margin: 0;
    padding: 0;
    background-color: #f4f4f400;
    background-image: url(https://images.pexels.com/photos/2451038/pexels-photo-2451038.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: 100vw 200vh;
    text-align: justify;
    font-size: larger;
}

header {
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    font-family: Verdana,sans-serif;
    font-size: x-large;
    background-color: #000000;
    margin-bottom: 5%;
}

nav ul {
    list-style: none;
    padding: 10px;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}
section {
    padding: 0;
    margin-left: 20%;
    color:#ffffff;
    text-decoration: solid;
    text-align: justify;
    margin-right: 20%;
    font-size: larger;
    text-indent: 3%;
}

h2 {
    color: #000000;
    text-indent: 0%;
}
button {
    background: #000000;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-family: Verdana,sans-serif;
    margin-left: 20%;
    margin-top: 3%;
}
.sprite {
    display: inline-block;
    background-image: url('peace.png');
    background-repeat: no-repeat;
    background-size: auto;
}

.peace-icon {
    width: 1000px;
    height: 500px;
    background-position: 0 0; /* Top-left corner of the sprite sheet */
    margin: 2px auto;
    display: inline-block;
}
button:hover {
    background: #ffffff;
    color:#000000;
}